<!-- Inicio del encabezado principal que contiene la navegación -->
<header class="nav-header">
  <!-- Elemento nav que define una sección de navegación -->
  <nav>
    <!-- Lista desordenada que contiene los elementos de navegación -->
    <ul class="nav-list">
      <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/perfil" routerLinkActive="active">Perfil</a></li>
      <li><a routerLink="/carrera" routerLinkActive="active">Carrera</a></li>
      <li><a routerLink="/informes" routerLinkActive="active">Informes</a></li>
    </ul>
  </nav>
</header>

<!-- Contenedor principal para el contenido de la página de inicio -->
<div class="home-container">
    <h1>Menu</h1>
</div>